body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  color: #333;
}

header {
  display: flex;
  gap: 1rem;
}

.timer-button {
  margin: 10px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

.icon-btn {
  border: none;
  background-color: transparent;
}

.header-icon {
  width: 1rem;   
  height: 1rem;
}









